src/main/resources/calculatorws.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.codingspace.it/calculatorws"
	xmlns:tns="http://www.codingspace.it/calculatorws"
	elementFormDefault="qualified">
	<xsd:element name="Add">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="intA" type="xsd:int"/>
				<xsd:element name="intB" type="xsd:int"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AddResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="addResult" type="xsd:int"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
</xsd:schema>
